footer.footer
    .container 
        .row
            .col-lg-12 
                ul.footer__socials 
                    li.footer__socials-item
                        a.item__link(href="#") 
                            i(class="fab fa-facebook-f")
                    li.footer__socials-item
                        a.item__link(href="#") 
                            i(class="fab fa-twitter")
                    li.footer__socials-item
                        a.item__link(href="#") 
                            i(class="fab fa-linkedin-in")
                    li.footer__socials-item
                        a.item__link(href="#") 
                            i(class="fa fa-rss")
                    li.footer__socials-item
                        a.item__link(href="#") 
                            i(class="fab fa-dribbble")


