- 
    const listMenu = ["Home", "About", "Work Process", "Testimonials", "Pricing Tables","Blog Entries", " Contact Us" ]
   
    const headingList = {
        first: {
            title: "Work Process",
            description: "Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante diam."
        },
        second: {
            title: "What do they say?",
            description: "Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis lectus libero."

        },
        third: {
            title: "Pricing Plans",
            description: "Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat."
        },
        four: {
            title: "Blog Entries",
            description: "Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie."
        },
        finally: {
            title: "Talk To Us",
            description: "Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper."
        }

    }

    const boxList = ["Get Ideas","Sketch Up","Discuss", "Revise","Approve","Launch"]

    const teamContent = [
        {
            text:"Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.",
            name: "Catherine Soft",
        },
        {
            text:  "Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.",
            name: "Kelvin Wood",
        },
        {
            text: "Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.",
            name: "David Martin",
        },
        
    ]
    
    const listPricing = ["GB space","GB transfer","Pro Design Panel","15-minute support","Unlimited Emails","24/7 Security"]

    const blogContent = [
        {
            img: "blog-item-01.png",
            title: "Vivamus ac vehicula dui",
            desc: "Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.",

        },
        {
            img: "blog-item-02.png",
            title: "Phasellus convallis augue",
            desc: "Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.",

        },
        {
            img: "blog-item-03.png",
            title: "Nam gravida purus non",
            desc: "Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.",

        },
    ]
    
        
    
   