@import '../base/mixins';
@import '../base/variables';
// heading of section
.heading {
    text-align: center;
    z-index: 2;
    &__title h2 {
        @include font(2.8, 38px, 1.75px, 500);
        margin-bottom: 20px;
        color: $default;
    }
    &__desc {
        margin: 0 auto 30px;
        color: $text-p;
        @include font(1.5, 26px, 0.25px, 400);
        font-family: 'Raleway', sans-serif;
    }
}
